<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewData["Title"] - DataVault</title>

    <style>
        :root {
            --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
        }
    </style>

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>


    <main role="main">
        @RenderBody()  <!-- Aquí se inserta el contenido de cada página -->
    </main>

    

    <script src="~/js/script.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
